{% extends 'base.html.twig' %}
{% block title %}Notre communauté{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}
{% block body %}
    <h1 class="text-center pt-4">Notre communauté</h1>
    <div class="container mt-3">
        <div class="infosMobile" id="infos"></div>
        <div id="map"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script>
        let map = L.map('map').fitWorld();

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(map);

        function onLocationFound(e) {
            let radius = e.accuracy / 2;

            L.marker(e.latlng).addTo(map)
                .bindPopup("You are within " + radius + " meters from this point").openPopup();

            L.circle(e.latlng, radius).addTo(map);
        }

        function onLocationError(e) {
            alert(e.message);
        }

        map.on('locationfound', onLocationFound);
        map.on('locationerror', onLocationError);

        map.locate({setView: true, maxZoom: 16});
        {% for farmer in farmers %}
        {% for farmerCity in farmersCity %}
        {% for averagePrice in averagePrices|filter(averagePrice => averagePrice.farmer.id == farmer.id) %}
        {% if farmer.id == farmerCity.id %}
        let marker{{ loop.index }} = L.marker([{{ farmerCity.latitude }}, {{ farmerCity.longitude }}]).addTo(map);
        marker{{ loop.index }}.bindPopup('<button class="btn" ' +
            'onclick="displayInfos(' +
            '\'{{ farmerCity.name|lower|capitalize }}\', \'{{ farmer.farmSize }}\', \'{{ averagePrice.average }}\')">' +
            '{{ farmerCity.name }} : {{ farmerCity.total }}</button>').openPopup();
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </script>

    <script>
        function displayInfos(city, farmSize, average) {
            document.getElementById("infos").style.display = "block";
            let closeButton = document.createElement("button");
            closeButton.className = "close";
            closeButton.type = "button";
            closeButton.addEventListener("click", function (){
                document.getElementById('infos').innerHTML = '';
                document.getElementById('infos').style.display='none'
            })
            closeButton.textContent = "X";
            document.getElementById("infos").appendChild(closeButton);

            let h1 = document.createElement("h1");
            h1.className = "text-center my-3";
            let title = document.createTextNode(city);
            h1.appendChild(title);
            document.getElementById("infos").appendChild(h1);

            let div1 = document.createElement("div");
            let content = document.createTextNode("Taille de la ferme : " + farmSize + "ha");
            div1.appendChild(content);
            document.getElementById("infos").appendChild(div1);
            console.log(average);
        }
    </script>
{% endblock %}